body {
  font-family: Arial, sans-serif;
  background-color: #f0f4f8;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.container {
  background-color: rgb(222, 207, 207);
  padding: 30px;
  border-radius: 12px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  text-align: center;
}

input[type="date"] {
  padding: 10px;
  font-size: 16px;
  margin: 10px 0;
}

button {
  padding: 10px 20px;
  font-size: 16px;
  background-color: #beec4b;
  color: white;
  border: none;
  border-radius: 6px;
  cursor: pointer;
}

button:hover {
  background-color: #2563eb;
}

#result {
  margin-top: 20px;
  font-size: 18px;
  color: #333;
}
h1{
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
#dob{
  text-transform: capitalize;
  font-size: 18px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
@media (max-width: 600px) {
  #btn{
    position: relative;
    right: 1rem;
  }
}