body {
  font-family: 'Poppins', sans-serif;
  background: linear-gradient(135deg, #667eea, #000000);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

/* CARD CONTAINER */
.container {
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(12px);
  padding: 40px 30px;
  border-radius: 20px;
  box-shadow: 0 8px 32px rgba(0, 0, 0, 0.25);
  text-align: center;
  width: 320px;
  color: white;
  transition: 0.3s ease;
}

.container:hover {
  transform: translateY(-5px);
}

/* HEADING */
h1 {
  font-size: 24px;
  margin-bottom: 15px;
  letter-spacing: 1px;
}

/* INPUT */
input[type="date"] {
  padding: 12px;
  font-size: 15px;
  margin: 15px 0;
  border-radius: 10px;
  border: none;
  outline: none;
  width: 100%;
  background: rgba(255,255,255,0.2);
  color: white;
}

input::placeholder {
  color: #ddd;
}

/* BUTTON */
button {
  padding: 12px 20px;
  font-size: 15px;
  background: linear-gradient(135deg, #00c6ff, #0072ff);
  color: white;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  transition: 0.3s;
  width: 100%;
}

button:hover {
  transform: scale(1.05);
  background: linear-gradient(135deg, #ff6a00, #ee0979);
}

/* RESULT */
#result {
  margin-top: 20px;
  font-size: 17px;
  color: #f1f1f1;
  line-height: 1.5;
}

/* DOB TEXT */
#dob {
  font-size: 16px;
  font-weight: 500;
}